click
Cython
deepfilternet
ffmpeg-python
funasr
loguru
modelscope[audio] -f https://modelscope.oss-cn-beijing.aliyuncs.com/releases/repo.html
panns_inference
pyannote-onnx
pydub
pyloudnorm
silero-vad
soundfile
tqdm
