# audio-separator[cpu]
# audio-separator[gpu]
click
Cython
ffmpeg-python
funasr
# git+https://github.com/m-bain/whisperx.git
loguru
modelscope[audio] -f https://modelscope.oss-cn-beijing.aliyuncs.com/releases/repo.html
panns_inference
pyannote-onnx
pydub
pyloudnorm
# pyopenhc
pyrnnoise
silero-vad
soundfile
tqdm
# WeTextProcessing
